.inostran__advantages-section, .checklist-section, .inostran_warning-section,
.why_asy-section, .inostran_about-section, .inostran_questions-section, .inostran_contact-section {
    max-width: 1340px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-bottom: 90px;
}

.inostran__advantages-section {
    margin-top: 90px;
}

.checklist-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.inostran__advantages-section {
    display: flex;
    gap: 32px;
}

.inostran__advantages-item {
    padding: 20px 30px;
    border-radius: 60px;
    display: flex;
    gap: 21px;
    align-items: center;
}

.inostran__advantages-item img {
    max-width: 60px;
    max-height: 60px;
}

.inostran__advantages-item p {
    color: white;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}

.inostran__advantages-item:first-child {
    background: #97BD00;
}

.inostran__advantages-item:nth-child(2n) {
    background: #FF8E00;
}

.inostran__advantages-item:last-child {
    background: #008AD5;
}

.checklist-section-title {
    font-size: 64px;
    color: #222222;
    text-align: center;
    display: flex;
}

.checklist-num {
    font-weight: 700;
    font-size: 120px;
    color: #d9d9d9;
    margin: 0;
}

.checklist-subtitle {
    font-weight: 600;
    font-size: 42px;
    color: #212529;
    margin: 0;
    margin-bottom: 50px;
}

.programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    justify-content: center;
    place-items: center;
}

.programs__list-item:last-child {
    grid-column: span 3;
    margin: auto;
    max-width: 30%;
}


.programs__list-item {
    display: flex;
    gap: 21px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px #00000026;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.programs__list-item-link a {
    text-decoration: none;
    color: #222222;
}

.programs__list-item img {
    max-width: 79px;
}

.inostran-play-button {
    max-width: 80px;
}

.inostran_greeting__container {
    display: flex;
    gap: 32px;
}

.inostran_greeting__container-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    color: #222222;
    margin: 0;
}

.inostran_greeting__container-text p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26.82px;
    color: #222222;
}

.inostran_greeting__container-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.inostran_greeting__container-button {
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
}

.inostran_greeting__container-button:first-child {
    background: #FD1B51;
}

.inostran_greeting__container-button:last-child {
    border: 2px solid #FD1B51;
}

.inostran_greeting__container-button:first-child a {
    color: white;
}

.inostran_greeting__container-button:last-child a {
    color: #FD1B51;
}

.inostran_rools__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.inostran_rools__item {
    display: flex;
    align-items: center;
    gap: 31px;
}

.inostran_rools__item p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
}

.inostran_res__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 39.01px;
    max-width: 1211px;
}

.inostran_res__text a {
    text-decoration: none;
    color: #FD1B51;
}

.inostran_section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60.95px;
}

.inostran_ac {
    padding: 60px 40px;
    border-radius: 30px;
    box-shadow: 15px 10px 50px 0px #0000001A;
    margin-bottom: 20px;
}

.ac-header .ac-trigger {
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 40px !important;
}

.inostran_contact-section {
    display: flex;
}

.inostran_contact-info {
    margin-right: auto;
}

.inostran_contact-info h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54.86px;
}

.inostran_contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.inostran_contact {
    font-weight: 500;
    font-size: 32px;
    color: #222222;

}

.inostran_qrs img {
    margin-top: 60px;
    margin-right: 50px;
}

.why_asy-section {

}

.inostran-cards {
    /* Frame 40 */
    position: relative;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.inostran-card {
    /* Партнерская сеть */
    position: static;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 60px;
    gap: 50px;

    /* Inside Auto Layout */
    flex: none;

    align-self: stretch;
    flex-grow: 0;
    border-radius: 30px;
    margin-bottom: -60px;
    color: white;
}

.inostran-card:nth-child(3n-2) {
    background: rgb(162, 188, 26);
    order: 0;
}

.inostran-card:nth-child(3n-1) {
    background: rgb(57, 137, 210);
    order: 1;
}

.inostran-card:nth-child(3n) {
    background: rgb(250, 141, 21);
    order: 2;
}

.inostran_info-section .inostran-cards .inostran-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inostran_info-section .inostran-cards .inostran-card:nth-child(2n-1) {
    background: rgb(57, 137, 210);
    order: 0;
}

.inostran_info-section .inostran-cards .inostran-card:nth-child(2n) {
    background: rgb(162, 188, 26);
    order: 0;
}

.inostran_info-section {
    margin-top: 40px;
    margin-bottom: 100px;

}

.inostran_info-section .inostran-cards .inostran-card {
    padding: 120px 220px;
}


.inostran-card-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 68.26px;
    margin: 0;
}

.inostran-card-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
}

.inostran-more {
    background: #FFFFFF;
    padding: 20px 40px;
    border-radius: 60px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.inostran-more a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

.inostran-more img {
    width: 14px;
    height: 14px;
}

.inostran-card:nth-child(3n-2) .inostran-more a {
    color: rgb(162, 188, 26);
}

.inostran-card:nth-child(3n-1) .inostran-more a {
    color: rgb(57, 137, 210);
}

.inostran-card:nth-child(3n) .inostran-more a {
    color: rgb(250, 141, 21);
}

.inostran_info-section .inostran-cards .inostran-card:nth-child(2n-1) .inostran-more a {
    color: rgb(57, 137, 210);
}

.inostran_info-section .inostran-cards .inostran-card:nth-child(2n) .inostran-more a {
    color: rgb(162, 188, 26);
}

.inostran-instr {
    display: flex;
}

.inostran-instr-p {
    color: #222222;
    font-weight: 600;
    font-size: 32px;
    line-height: 39.01px;
}

.inostran-instr-subtext {
    font-weight: 400;
    font-size: 22px;
    line-height: 26.82px;
    color: #212529;
}

.inostran-take-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 39.01px;
}

.inostran-take-docs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    align-items: flex-start;
    gap: 100px;
    margin-left: 5%;
}

.inostran-take-doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inostran-take-doc p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24.38px;
}

.inostran_warning {
    background: #FD1B511F;
    padding: 30px;
    border-radius: 30px;
}

.inostran_warning-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36.57px;
    color: #222222;
    margin: 0;
}

.inostran_contact-section {
    margin-bottom: 0;
}

.inostran_warning-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 26.82px;
}

.inostran_warning-location {
    margin-top: 30px;
    position: relative;
}

.inostran_warning-location-info {
    position: absolute;
    right: 0;
    top: 50px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inostran_contacts_flex .inostran_contacts {
    justify-content: flex-start;
}

.inostran_warning-location-info .inostran_contacts .inostran_contact a {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.inostran_contacts_flex {
    display: flex;
    flex-direction: column;
}

.inostran_about-section {
    margin-top: 100px;
}

.inostran_about-cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.inostran_about-card {
    background: #FFFFFF;
    border-radius: 30px;
    font-size: 20px;
    line-height: 25px;
    color: #212529;
    padding: 60px 40px 10px;
}

.inostran_about-card:nth-child(3n-1) {
    background: #FD1B51;
    color: #FFFFFF;
}

.inostran_about-quote {
    font-weight: 500;
    padding-bottom: 50px;
    border-bottom: 1px solid #B7B7B7
}


.inostran_about-author {
    display: flex;
    gap: 30px;
    align-items: center;
}

.inostran_about-author-fio {
    font-weight: 600;
}

.inostran_about-author-state {
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}

.inostran_about-author img {
    width: 70px;
    height: 70px;
}

.inostran_footer {
    background: #3989D2;
}

.inostran_greeting__img img {
    max-width: 500px !important;
}

.inostran-instr-text .inostran_contacts {
    justify-content: flex-start;
}

.inostran-instr-text .inostran_contacts img {
    width: 40px;
    height: 40px;
}

.inostran-instr-text .inostran_contacts {
    gap: 20px;
    align-items: center;
}

.inostran-instr-text .inostran_contacts .inostran_contact {
    font-weight: 500;
    font-size: 24px;
    line-height: 29.26px;
}

.inostran_warning-location-info .inostran_contacts {
    margin-top: 15px;
    gap: 10px;
}

.inostran_warning-location-info .inostran_contacts img {
    width: 24px;
    height: 24px;
}

.inostran_warning-location-info .inostran_contacts .inostran_contact {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #212529;

}

.inostran_warning-location-info .inostran_contacts_flex .inostran_contacts .inostran_contact {
    text-decoration-line: underline;
}

.inostran_header-top {
    z-index: 10;
}

.inostran_header-promo-slide-picture_img {
    position: relative;
    background: linear-gradient(0deg, #3989D2, #3989D2),
    linear-gradient(225.6deg, #8EC9FF 0.98%, #6AB8FF 29.02%, #1A8FFF 62.76%, #0085FF 100%);
    background-size: 100%;
}

.inostran_header-promo-slide-picture_img img {
    width: 100%;
    height: 100%;
}

.inostran_header-promo-text {
    margin: auto;
    position: absolute;
    top: 150px;
    left: 0;
    bottom: 0;
    right: 0;
}

.inostran_header-promo-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 97.52px;
    color: #FFFFFF;
}

.inostran_header-promo-subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 36.57px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.inostran_header-promo-countries {
    position: absolute;
    left: 0;

    right: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
    top: 350px;
}

.inostran_header-promo-item {
    background: #FFFFFF;
    border-radius: 60px;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.inostran_header-promo-item p {
    font-weight: 500;
    color: #222222;
    font-size: 20px;
    margin: 0;
}

.inostran_header-promo-item img {
    width: 50px;
    height: 50px;
}

.inostran_warning-location img {
    width: 100%;
}

@media screen and (max-width: 1720px) {
    .inostran_header-promo-text {
        top: 100px;
    }

    .inostran_header-promo-countries {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1520px) {
    .inostran_header-promo-title {
        font-size: 70px;

    }
}

@media screen and (max-width: 1440px) {
    .inostran_header-promo-countries {
        flex-wrap: wrap;
        position: relative;
        top: 0;

    }

    .inostran_header-promo-item {
        border: 1px solid #eee;
        background-color: #fff;
    }
}


@media screen and (max-width: 1200px) {
    .inostran_header-promo-title {
        font-size: 50px;
    }

    .inostran__advantages-section {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(340px, 1fr) );

    }

    .inostran__advantages-item:last-child {
        grid-column: span 2;
        margin: auto;
    }

    .phone_img__container {
        display: none;
    }

    .inostran_contact-info {
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .inostran_qrs {
        margin: auto;
    }

    .inostran_qrs img {
        margin-right: 0;
    }

    .inostran_header-promo-text {
        top: 50px;
    }

    .inostran_header-promo-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 1025px) {
    .inostran_header-promo-title {
        font-size: 28px;
        margin: 0;
    }

    .inostran_header-promo-subtitle {
        position: relative;
        font-size: 20px;
        margin: 0;
    }

    .inostran-card-title {
        font-size: 40px;
    }

    .inostran-card-description {
        font-size: 18px;
    }

    .inostran-instr img {
        max-width: 350px;
    }

    .inostran_greeting__img img {
        max-width: 350px !important;
    }

    .checklist-num {
        font-size: 90px;
    }

    .checklist-subtitle {
        font-size: 35px;
    }

    .inostran_about-cards {
        flex-wrap: wrap;
    }

    .programs__list {
        grid-template-columns: 1fr 1fr;
    }

    .programs__list-item:last-child {
        grid-column: 1 span;
        max-width: 100%;
    }

    .inostran_info-section .inostran-cards .inostran-card {
        padding: 80px 120px;
    }
}

@media screen and (max-width: 745px) {
    .inostran__advantages-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .inostran__advantages-item {
        width: 50%;
        margin: auto;
    }

    .inostran__advantages-item:last-child {
        grid-column: span 1;
    }

    .inostran-card {
        flex-direction: column;
        gap: 30px;
        margin-bottom: -50px;
    }

    .inostran-instr {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 720px) {
    .inostran_greeting__img {
        display: none;
    }

    .inostran_rools__container {
        grid-template-columns: 1fr;
    }

    .inostran_contacts {
        gap: 10px;
    }

    .inostran_contact {
        font-weight: 500;
        font-size: 16px;
        color: #222222;
    }
}

@media screen and (max-width: 560px) {
    .inostran_header-promo-text {
        top: 25px;
    }

    .inostran_header-promo-title {
        font-size: 20px;
    }

    .inostran_header-promo-subtitle {
        display: none;
    }

    .programs__list {
        grid-template-columns: 1fr;
    }

    .checklist-section-title {
        font-size: 40px;
    }

    .inostran-take-docs {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .inostran_warning-location img {
        display: none;
    }

    .inostran_warning-location-info {
        position: relative;
    }

    .inostran_section-title {
        font-size: 35px;
    }

    .inostran-card-title {
        font-size: 25px;
    }

    .inostran-card-description {
        font-size: 15px;
    }

    .inostran__advantages-item img {
        max-width: 30px;
        max-height: 30px;
    }

    .inostran__advantages-item p {
        font-size: 15px;
    }

    .checklist-subtitle {
        font-size: 25px;
    }

    .inostran-instr-p {
        font-size: 20px;
    }

    .inostran_info-section .inostran-cards .inostran-card {
        padding: 80px 40px;
    }

    .ac-header .ac-trigger {
        font-size: 20px !important;
    }

    .inostran_greeting__container-buttons {
        flex-direction: column;
    }

    .inostran_greeting__container-title {
        font-size: 18px;
    }

}

@media screen and (max-width: 330px) {
    .inostran_header-promo-text {
            top: 0;
    }

    .ac-header .ac-trigger {
        font-size: 15px !important;
    }

    .inostran_section-title {
        font-size: 25px;
    }

    .inostran_rools__item p {
        font-size: 18px;
    }

    .inostran_rools__item img {
        width: 70px;
        height: 70px;
    }
}
