.main__container {
    max-width: 1500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.inostran__advantages-section {
    display: flex;
    gap: 32px;
}

.inostran__advantages-item {
    padding: 20px 30px;
    border-radius: 60px;
    display: flex;
    gap: 21px;
    align-items: center;
}

.inostran__advantages-item img {
    max-width: 60px;
    max-height: 60px;
}

.inostran__advantages-item p {
    color: white;
    font-weight: 600;
    font-size: 22px;
}

.inostran__advantages-item:first-child {
    background: #97BD00;
}

.inostran__advantages-item:nth-child(2n) {
    background: #FF8E00;
}

.inostran__advantages-item:last-child {
    background: #008AD5;
}

.checklist-section-title {
    font-size: 64px;
    color: #222222;
    text-align: center;
}

.checklist-num {
    font-weight: 700;
    font-size: 120px;
    color: #d9d9d9;
    margin: 0;
}

.checklist-subtitle {
    font-weight: 600;
    font-size: 42px;
    color: #212529;
    margin: 0;
    margin-bottom: 50px;
}

.programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    justify-content: center;
    place-items: center;
}

.programs__list-item:last-child {
    grid-column: span 3;
    margin: auto;
    max-width: 30%;
}


.programs__list-item {
    display: flex;
    gap: 21px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px #00000026;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.programs__list-item img {
    max-width: 79px;
}

.inostran-play-button {
    max-width: 80px;
}

.inostran_greeting__container {
    display: flex;
    gap: 32px;
}

.inostran_greeting__container-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    color: #222222;
    margin: 0;
}

.inostran_greeting__container-text p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26.82px;
    color: #222222;
}

.inostran_greeting__container-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.inostran_greeting__container-button {
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
}

.inostran_greeting__container-button:first-child {
    color: white;
    background: #FD1B51;
}

.inostran_greeting__container-button:last-child {
    color: #FD1B51;
    border: 2px solid #FD1B51;
}

.inostran_rools__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.inostran_rools__item {
    display: flex;
    align-items: center;
    gap: 31px;
}

.inostran_rools__item p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
}

.inostran_res__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 39.01px;
    max-width: 1211px;
}

.inostran_res__text a {
    text-decoration: none;
    color: #FD1B51;
}

.inostran_section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60.95px;
}

.inostran_ac {
    padding: 60px 40px;
    border-radius: 30px;
    box-shadow: 15px 10px 50px 0px #0000001A;
    margin-bottom: 20px;
}

.ac-header .ac-trigger {
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 40px !important;
}

.inostran_contact-section {
    display: flex;
}

.inostran_contact-info {
    margin-right: auto;
}

.inostran_contact-info h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54.86px;
}

.inostran_contacts {
    display: flex;
    align-content: center;
    justify-content: center;
}

.inostran_contact a {
    font-weight: 500;
    font-size: 32px;
    color: #222222;
}

.inostran_qrs img {
    margin-top: 60px;
    margin-right: 50px;
}